{% extends "base.html" %}

{% block content %}


<div id="main">
<form method="post">
	
    
  <br>

  <table class="table">
    
    <h3 style = "color:black;">Gate Change</h3>
    
    <tbody>
      <tr>
        <td>
        <center>
            <form action="" method="post">
            <fieldset>
                    
                    <p><input type="text" placeholder='To' name="To" >
                    </p>
                     <p><input type="text" placeholder="From" name="From">
                     </p>
                    <p><input type="text" placeholder="Flight Number" name="Flightno">
                     </p>
                    <button class="btn waves-effect waves-light" type="submit" name="submit" value="submit">Submit
                    </button>

                  </form>

            </fieldset>
        </centre>    
        </td>
      </tr>            
            </script>
        </td>
      </tr>
    </tbody>
  </table>


	
	 
</form>
</div>

{% endblock %}
